:root {
    --color-green: #31c48d;
    --color-white: #fff;
    --color-dark-gray: #33333d;
    --color-medium-gray: #424250;
    --color-light-gray: #9ca3ae;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: var(--color-medium-gray);
    color: var(--color-white);
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* header */
.header {
    text-align: center;
}

.header__title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-light-gray);
}

/* controls */
.controls {
    background: yellow;
}

/* counter */
.counter {
    background: var(--color-dark-gray);
}

.counter__actions {
    display: flex;
}

.counter__value::part(base) {
    width: 100%;
    height: 15rem;
    font-size: 10rem;
    font-weight: 900;
    background: none;
    border-width: 0;
    border-bottom: 1px solid var(--color-light-gray);
}

.counter__value::part(input) {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    text-align: center;
    justify-items: center;
}

.counter__buttons{
    width: 50%;
}
.counter__buttons::part(base) {
    background: none;
    border-width: 0;
    font-size: 3rem;
    height: 10rem;
    border-bottom: 1px solid var(--color-light-gray);
}

.counter__buttons.first {
    border-right: 1px solid var(--color-light-gray);
}

.counter__buttons::part(label) {
    color: black;
}

.counter__buttons::part(base):active {
    background: var(--color-medium-gray);
    transform: translateY(-2%);
}

.reset {
    display: flex;
    justify-content: center;
}

.reset_button {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reset_button::part(base) {
    color: var(--color-green);
    border-color: var(--color-green);
}

.reset_button::part(base):hover {
    background: var(--color-medium-gray);
}
.alert_wrapper {
    display: flex;
    justify-content: center;
}
.alert::part(base) {
    width: 50%;
    margin-bottom: 1rem;
}

/* footer */
.footer {
    background: var(--color-dark-gray);
    color: var(--color-light-gray);
    align-self: center;
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

.footer__link {
    color: var(--color-white);
}